* {
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

window#waybar {
    background-color: #15173D; 
    color: #F1E9E9;          
    border-bottom: 2px solid #982598; 
}

#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: #F1E9E9;
}

#workspaces button.active {
    background-color: #982598;
    color: #F1E9E9;
}



#clock, #battery, #cpu, #memory, #disk, #temperature, #backlight, #network, #pulseaudio, #tray, #mode, #idle_inhibitor, #scratchpad, #language, #custom-power {
    padding: 2px 10px;
    color: #F1E9E9;
    background: #252866;
    margin: 4px 5px;
    border-radius: 8px;
}

#clock {
    color: #E491C9; 
    font-weight: bold;
}

.modules-right > widget:last-child > #custom-power {
    margin-right: 15px; 
}

#custom-spacer {
    background: transparent; 
    margin: 0;
    padding: 0; 
    min-width: 15px; 
}

#tray {
    padding: 0 10px;
    margin: 4px 5px;
    background: #252866;
    border-radius: 8px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
